@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    background: rgb(24, 24, 24);
    border-bottom: 4px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#GM {
    font-size: 5em;
    font-family: "Lexend";
    color: #e2e2e2;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#DT2 {
    font-size: 1.5em;
    font-family: "Lexend";
    color: #e2e2e2;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(140%);
}

#DT3 {
    font-size: 1.5em;
    font-family: "Lexend";
    color: #e2e2e2;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(380%);
}


 .logo {
    cursor: pointer;
 }

 .nav_links {
    list-style: none;
 }

 .nav_links li {
    display: inline-block;
    padding: 0px 20px;
 }

 .nav_links li a {
    transition: all 0.5s ease 0s;
 }


 .nav_links li a:hover {
    color: rgb(255, 136, 0)
 }

 button {
    margin-left: 20px;
    padding: 8px 30px;
    background-color: rgba(255, 136, 0, 1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
 }

button:hover {
    background-color: rgba(255, 136, 0, 0.8);
}